@import 'libs/normalize';

@font-face {
  src: url('../resources/fonts/Inter-Regular.woff2') format('woff2');
  font-family: 'inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../resources/fonts/Inter-Medium.woff2') format('woff2');
  font-family: 'inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --light-color: #ffffff;
  --hokey-color: #d69e36;
  --anzac-color: #deab4d;
  --porsche-color: #a2792e;
  --cinnabar-color: #e74c3c;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: inter, sans-serif;
  font-weight: 400;
  color: var(--light-color);
  background-color: var(--hokey-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin: 0;
  margin-bottom: 25px;
}

.block {
  border-radius: 40px;
  padding: 20px;
  max-width: 775px;
  width: 100%;
  background: var(--anzac-color);
}

.weather {
  padding: 50px 0;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    padding-right: 60px;
    width: 100%;
    height: 40px;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 0 15px 15px 0;
    width: 60px;
    height: 40px;
    line-height: 0;
    transform: translateY(-50%);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__city {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
  }

  &__hearth {
    width: 24px;
    height: 24px;
    fill: var(--light-color);
    transition: fill 0.4s;

    &:hover {
      fill: var(--cinnabar-color);
    }
  }

  &__degrees {
    display: flex;
    gap: 30px;
  }

  &__degree {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }

  &__text {
    margin: 0;
  }

  &__img {
    width: 320px;
    height: 320px;
  }

  &__additional-inner {
    display: flex;
    gap: 20px;
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
}

.details {
  &__cards {
    display: flex;
    gap: 30px;
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    width: 48px;
    height: 37px;
  }

  &__subtitle {
    margin: 0;
  }

  &__text {
    margin: 0;
  }
}

.forecast {
  max-height: 245px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--porsche-color) #fff;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 100%;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border: 2px solid var(--light-color);
    border-radius: 15px;
    max-width: 355px;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__subtitle {
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__time {
    margin: 0;
  }

  &__img {
    width: 60px;
    height: 60px;
  }

  &__name-weather {
    margin: 0;
  }

  &:hover {
    scrollbar-color: var(--porsche-color) transparent;
  }
}

.favorites {
  max-width: 325px;
  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text-btn {
    margin: 0;
    font-size: 20px;
  }

  &__btn {
    position: relative;
    width: 20px;
    height: 20px;

    &::after,
    &::before {
      position: absolute;
      content: '';
      width: 20px;
      border-top: 2px solid var(--light-color);
      top: 50%;
      left: 0;
      transform: rotate(45deg);
      transition: border-top-color 0.3s;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:hover::after,
    &:hover::before {
      border-top-color: var(--cinnabar-color);
    }
  }
}

.notification {
  position: fixed;
  top: -50%;
  left: 50%;
  border-radius: 0 0 15px 15px;
  padding: 15px;
  background-color: var(--cinnabar-color);
  transform: translateX(-50%);
  transition: top 0.6s;

  &.active {
    top: 0;
  }

  &__text {
    margin: 0;
    font-size: 20px;
  }
}
